.places__paragraph{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 163%; 
}

@media (max-width: 768px){
    .places__paragraph {
        font-size: 15.8px;
    }
}

@media (max-width: 320px) {
    .places__paragraph{
        padding: 0 16px;
        font-size: 16px;
    }
}