.photo-grid{
    margin-left: 48px;
    margin-top: 92px;
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-gap: 16px;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 1255px) {
    .photo-grid{
        grid-template-columns: repeat(3, 300px);
        grid-gap: 14px;
    }
}

@media (max-width: 1015px) {
    .photo-grid{
        grid-template-columns: repeat(2, 352px);
        grid-gap: 16px;
        margin-left: 22px;
    }
}

@media (max-width: 765px) {
    .photo-grid{
        grid-template-columns: repeat(2, 300px);
    }
}