.places__row1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 40px;
    margin-top: 80px;
}

@media (max-width: 1024px) {
    .places__row1{
        grid-gap: 0 75px;
    }
}

@media (max-width: 768px) {
    .places__row1{
        grid-gap: 0 25px;
    }
}

@media (max-width: 650px) {
    .places__row1{
        grid-template-columns: repeat(1, 288px);
        padding: 0 16px;
    }
}