.lead__title{
    color: #FFF;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    max-width: 100%;
    width: 720px;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 58px;
}

@media (min-width: 320px) {
    .lead__title{
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 16px;
        margin-top: 56px;
    }
}

@media (min-width: 768px) {
    .lead__title{
        font-size: 96px;
        line-height: 100px;
        margin-bottom: 32px;
        margin-top: 58px;
    }
}