.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 690px;
    width: 100%;
    margin-top: 92px;
    padding-left: 148px;
}

@media (max-width: 1024px) {
    .intro{
        padding-left: 48px;
    }
}

@media (max-width: 768px) {
    .intro{
        padding-left: 24px;
        max-width: 750px;
    }
}

@media (max-width: 460px) {
    .intro{
        max-width: 288px;
        padding-left: 16px;
        margin-top: 64px;
    }
}