.cover{
    max-width: 1184px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    margin-top: 92px;
    margin-bottom: 92px;
}

@media (max-width: 768px) {
    .cover{
        margin-top: 89px;
        margin-bottom: 90px;  
    }
}

@media (max-width: 320px) {
    .cover{
        margin-top: 64px;
        margin-bottom: 64px;  
    }
}