.places__head{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0 40px;
}

@media (min-width: 768px) {
    .places__head{
        margin-top: 88px;
        grid-gap: 0 25px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1024px) {
    .places__head{
        grid-gap: 0 10px;
    }
}