.places__url-heading{
    color: #AAA;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2.4px;
}

@media (min-width: 320px) {
    .places__url-heading{
        padding-left: 16px;
        padding-top: 0px;
        line-height: 12px;
        padding-bottom: 12px;
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .places__url-heading{
        margin-top: 110px;
        padding-left: 0;
    }
}

@media (min-width: 1024px) {
    .places__url-heading{
        line-height: 170%;
        padding-top: 25px;
        margin-top: 92px;
    }
}

@media (min-width: 1280px) {
    .places__url-heading{
        line-height: 170%;
        padding-top: 25px;
        margin-top: 75px;
    }
}