.intro__title{
    color: #FFF;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    padding-bottom: 40px;
}

@media (max-width: 768px) {
    .intro__title{
        max-width: 720px;
    }
}

@media (max-width: 460px) {
    .intro__title{
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 40px;
        max-width: 288px;
    }
}